@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Suman Shrestha</h1>
    <h1 class="display-4">Welcome, To my portfolio</h1> <br />
    <a href="https://sumanshrestha1.com.np">Please click here</a>
</div>
